body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
.img {
    width: 200px;
    height: 175px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.procedure, .ingredients {
    margin: 20px 0;
    padding: 10px;
    background-color: #694c4c;
    border-radius: 5px;
}